
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>
<h2>@ViewBag.Name</h2>
<p>@ViewBag.Email</p>
<p>@ViewBag.Password</p>
<p>@ViewBag.Age</p>
<br/>
<a class="btn-danger" asp-action="LogOut" >Logout</a>

